/* =========================
   ACCORDION
   ========================= */
.accordion, .accordion-body, .accordion-item, .accordion-button {
    background-color: #0e2537 !important;
    border: 1px solid #2a2f42 !important;
    /* border-radius: 4px !important; */
    color: #888888 !important;
    box-shadow: none !important;
}
.accordion-button:hover {
    color: white !important;
}
.accordion-button:not(.collapsed) {
    background-color: #0f1118 !important;
    color: white !important;
}
.accordion-button::after {
    filter: invert(65%);
}
.accordion-body {
    color: #cccccc !important;
    background-color: #0e2537 !important;
    padding: 10px !important;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}